<div class="header-container">
    <div class="container">
        <div class="header-content">
            <div class="description-box">
                <p class="lead">
                    TopoBench (TB) is a modular Python library designed to standardize benchmarking and accelerate research in Topological Deep Learning (TDL). In particular, TB allows to train and compare the performances of all sorts of Topological Neural Networks (TNNs) across the different topological domains, where by topological domain we refer to a graph, a simplicial complex, a cellular complex, or a hypergraph. For detailed information, please refer to the TopoBench: A Framework for Benchmarking Topological Deep Learning paper.
                </p>
            </div>
        </div>
    </div>
</div> 