<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="info-box">
                    <p>
                        TopoBench was launched in 2024 to advance the field of 
                        topological data analysis by providing standardized benchmarks
                        and evaluation metrics. Since then, our interdisciplinary 
                        team has built powerful new tools that accelerate scientific 
                        discovery through topology.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="info-box">
                    <p>
                        Our name reflects the belief that there is fundamental 
                        symmetry in data - between shape and function, between 
                        structure and behavior. By harnessing topology's powerful 
                        capabilities, we can use it to model complex phenomena 
                        and drive breakthrough discoveries.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> 